<p> cool </p> 

  <tbody>
      <tr>
        <tb> <h3><%= @job.title %></h3> </tb>
        <tb> <h3><%= @job.description %></h3></tb>
        <td> <h5><%= link_to "Edit Posting", edit_job_path(@job)%></h5> </td>
        <td> <h5><%= link_to 'Delete Posting', @job, method: :delete %></h5> </td>
    </tr>
  </tbody>
